data/raw/*.parquet
data/warehouse/*.duckdb
.venv/
dbt/nyc_taxi/target/
dbt/nyc_taxi/dbt_packages/
__pycache__/
.venv-airflow/
.airflow/
.DS_Store
data/
dbt/nyc_taxi/.user.yml
dbt/nyc_taxi/logs/
dbt/nyc_taxi/seeds/
